<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FourTwoCommando</title>
    <link rel="icon" href="~/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/site.css">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bulma-0.9.0/css/bulma.css"/>
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/lib/bulma-0.9.0/css/bulma.min.css"/>
    </environment>
    <link rel="stylesheet" href="~/css/custom.css">
</head>
<body>
<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Index" role="button">
                <img src="img/logo.png" alt="FourTwoCommando"/>
            </a>
        </div>
        
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
            
            <div class="navbar-end">
                <a class="navbar-item" asp-area="" asp-controller="Auth" asp-action="LogIn">Log in</a>
                <a class="navbar-item" asp-area="" asp-controller="Auth">Register</a>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - FourTwoCommando - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>