@model object

@{
    ViewData["title"] = "About Us";
}

<section class="hero is-medium is-transparent">
    <div class="hero-body">
        <div class="columns is-vcentered is-centered">
            <div class="column is-half">
                <h1 class="title">About Us</h1>
                <h2 class="subtitle">Find out who we are and what we do</h2>
            </div>
        </div>
    </div>
</section>