@{
    ViewData["Title"] = "Home Page";
}

<section class="hero is-primary is-fullheight title-bg">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle">The Royal Marines in ArmA 3</h2>
            <h1 class="title page-title">
                42 Commando Royal Marines
            </h1>
        </div>
    </div>
</section>